<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index,follow">
  <meta name="description" content="Santhosh Kumar Portfolio">
  <meta name="keywords" content="Santhosh Kumar, Portfolio" />
  <title>Santhosh Kumar Portfolio</title>
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet">

</head>

<body>

<section>
  <div class="container container-main">
    <header>
      <h1>Santhosh Kumar</h1>
    </header>
    <img src="/img/line.png" class="line">

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <br>

        <p>I created this <a href="http://www.santhoshkumar.org">site</a> to provide a medium to test out the newest web
          technologies and give back to the design and developer community via open source apps, articles.</p>
        <br>

        <p>I am currently working as a Lead Architect at a leading healthcare IT firm, which has provided me with the
          opportunity to build apps for critical healthcare workflow. I am passionate about using technology to provide
          creative meaningful solutions to time consuming and repetitive tasks, in the process making it simpler and
          increase efficiency and productivity. I am enthusiastic in learning new skills and exploring new challenges
          with advancing innovation in technologies. </p>
        <br>

        <p>I started as VB, COM Microsoft technologies developer and over years transitioned to Java, designing and
          building java services. In 2012 I coded my first JavaScript and as I learnt more have come to conclusion that
          at one point in the future everything will be written in JavaScript. It is amazing that Brendan Eich developed
          JavaScript in 10 days and I feel I will be using it for my next 10 years or more to come. Having started
          working on HTML and JavaScript, I have come to learn and embrace several frameworks, not to forget hybrid app
          development using the power of JavaScript. And with nodejs you are never far from server side coding using
          JavaScript.</p>
        <br>

        <p>I occasionally step out of the digital world and when I do my interests include: drawing, sketching, model
          building, RC flying, crashing and rebuilding models. I experiment with raspberry pi and arduino devices as
          they provide lot of fun and learning. I am also an aquarium enthusiast and spend time setting up aquarium and
          aquascaping. I have a loving supporting wife Sujatha, an adorable daddy girl Yashika and an awesome naughty
          son Vedanth!</p>
        <br>

        <p>Find below links to some of my articles and posts.</p>
        <a href="http://www.santhoshkumar.org/sorting">Sorting Simplified</a>
        <br>
      </div>
      <div class="col-md-1"></div>

    </div>
  </div>
</section>

<footer>
  <div class="container">
    <p><a href="/resume.html">
      <div class="btn btn-large btn-default">Resume</div>
    </a></p>
  </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
