<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index,follow">
  <meta name="description" content="Santhosh Kumar Resume">
  <meta name="keywords" content="Santhosh Kumar, Resume" />
  <title>Santhosh Kumar Resume </title>
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
  <!-- Custom styles for this template -->
  <link href="../css/style.css" rel="stylesheet">

</head>

<body>

<section>
  <div class="container container-main">
    <img src="../img/profile.jpg" class="profile-img avatar">
    <header>
      <h1>Santhosh Kumar</h1>
      <h4>LEAD ARCHITECT / DEVELOPER</h4>
    </header>
    <img src="../img/line.png" class="line">

    <div class="row">
      <div class="col-md-7">
        <div class="alert alert-success" role="alert">Results-driven Architect offering extensive experience (11 years)
          with product development and maintenance
        </div>
        <div class="alert alert-info" role="alert">Able to incorporate user needs into cost-effective, secure and
          user-friendly solutions known for usability and stability
        </div>
        <div class="alert alert-success" role="alert">Innovator of next-generation solutions and applications fueling
          major capability additions to product offering
        </div>
        <div class="alert alert-info" role="alert">Proven leader in driving system architecture decisions and lead
          projects from concept through the release process
        </div>
      </div>
      <div class="col-md-5">
        <h2># Contact Info</h2>
        <ul class="contact-list">
          <li><img src="../img/phone.png"> (+91) 9886 50 49 48</li>
          <li><img src="../img/email.png"> santhosh.prakash@gmail.com</li>
          <li><img src="../img/linkedIn.png"> <a href="https://in.linkedin.com/in/santhoshkumar">in.linkedin.com/in/santhoshkumar</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7">
        <h2># Experience</h2>

        <div class="media">
          <div class="media-body">
            <img src="../img/cerner.gif">
          </div>
          <a href="http://www.cerner.com">www.cerner.com</a>

          <p>2004 - Present</p>
        </div>

        <div class="media">
          <div class="media-body">
            <p>Develop, maintain and support application programs for web, desktop and mobile systems using JavaScript,
              Java and related tools. Analyze code for quality, testing and debugging; and manage a team of 15
              programmers</p>
          </div>
        </div>

        <div class="media">
          <div class="media-body">
            <p>Led, architected and participated in the design, testing and deployment of critical healthcare IT
              solutions and related applications</p>
          </div>
        </div>

        <div class="media">
          <div class="media-body">
            <p>Reengineered multiple systems that fueled improvements to productivity, efficiency, uptime and accuracy
              for clients. Created technical designs and developed code in JavaScript, C++ and Java services for
              healthcare solutions and often coordinated and collobrated with teams working globally</p>
          </div>
        </div>

        <div class="media">
          <div class="media-body">
            <p>Trained and mentored junior and senior programmers in functionality, programming (JavaScript, npm,
              nodejs, gulp, jasmine unit testing) methodologies and best practices</p>
          </div>
        </div>

        <div class="media">
          <div class="media-body">
            <p>Served as a core group member in defining and promoting development culture, ensuring the alignment of
              process, technology and business objectives</p>
          </div>
        </div>

        <div class="media">
          <div class="media-body">
            <p>Partnered with global agile development team to create a Web platform to accelerate migraton of legacy
              code to web development and prepare them for cloud deployment</p>
          </div>
        </div>

        <div class="media">
          <div class="media-body">
            <p>Analysed and rectified programming flaws in legacy software. Improved the stability of code by 40% and
              reduce crashes by 50%</p>
          </div>
        </div>

        <div class="media">
          <div class="media-body">
            <p>Coded new solutions that increased useability and acceptability by 45% and 75%, respectively</p>
          </div>
        </div>

        <h2># Education</h2>

        <div class="media">
          <div class="media-left">
            2004 - Bachelor of Engineering in Information Science
            <p class="media-heading"><a href="http://www.vtu.ac.in/">Visvesvaraya Technological University</a></p>
          </div>
        </div>

      </div>

      <div class="col-md-5">
        <h2># Programming Skills</h2>

        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0"
               aria-valuemax="100" style="min-width: 2em;width: 100%;">
            JavaScript / HTML / CSS
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="2" aria-valuemin="0"
               aria-valuemax="100" style="min-width: 2em; width: 90%;">
            C++, COM, MFC
          </div>
        </div>

        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="2" aria-valuemin="0"
               aria-valuemax="100" style="min-width: 2em; width: 70%;">
            Java
          </div>
        </div>

        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="2" aria-valuemin="0"
               aria-valuemax="100" style="min-width: 2em; width: 60%;">
            Android
          </div>
        </div>

        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="2" aria-valuemin="0"
               aria-valuemax="100" style="min-width: 2em; width: 60%;">
            IOS
          </div>
        </div>

        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="2" aria-valuemin="0"
               aria-valuemax="100" style="min-width: 2em; width: 60%;">
            Angular | Backbone | React | Node => js
          </div>
        </div>

        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="2" aria-valuemin="0"
               aria-valuemax="100" style="min-width: 2em; width: 40%;">
            SQL
          </div>
        </div>

        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="2" aria-valuemin="0"
               aria-valuemax="100" style="min-width: 2em; width: 40%;">
            MongoDB
          </div>
        </div>

        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="2" aria-valuemin="0"
               aria-valuemax="100" style="min-width: 2em; width: 30%;">
            Hadoop
          </div>
        </div>

        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="2" aria-valuemin="0"
               aria-valuemax="100" style="min-width: 2em; width: 20%;">
            Python
          </div>
        </div>

        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="2" aria-valuemin="0"
               aria-valuemax="100" style="min-width: 2em; width: 20%;">
            Ruby
          </div>
        </div>
        <br/><br/>

        <h2># Certificates</h2>
        <ul>

          <li>
            <a href="https://www.coursera.org/signature/certificate/H6WML8QV68">Gamification</a>

            <p>University of Pennsylvania, License H6WML8QV68</p>
          </li>
          <li>
            <a href="https://www.coursera.org/signature/certificate/6N25GCENQZ">Internet History, Technology, and
              Security</a>

            <p>University of Michigan, License 6N25GCENQZ</p>
          </li>
          <li>
            <a href="https://www.coursera.org/signature/certificate/L5SXV7M7EJ">Programming Mobile Applications for
              Android Handheld Systems</a>

            <p>University of Maryland, License L5SXV7M7EJ</p>
          </li>
          <li>
            <a href="https://www.coursera.org/signature/certificate/LTNEXFRTUB">An Introduction to Interactive
              Programming in Python</a>

            <p>Rice University, License LTNEXFRTUB</p>
          </li>
          <li>
            <a href="https://www.coursera.org/signature/certificate/M5T8RZH3ZQ">Maps and the Geospatial Revolution</a>

            <p>Penn State University, License M5T8RZH3ZQ</p>
          </li>
          <li>
            <a>Web Application Architectures</a>

            <p>University of New Mexico</p>
          </li>
          <li>
            <a href="https://www.coursera.org/signature/certificate/ARS9HPXDDC">Interprofessional Healthcare
              Informatics</a>

            <p>University of Minnesota, License ARS9HPXDDC</p>
          </li>
          <li>
            <a>ICAGILE CERTIFIED PROFESSIONAL</a>
          </li>

        </ul>

        <h2># Languages</h2>
        <ul>
          <li>
            <p>English – Fluent (spoken and written)</p>
          </li>
          <li>
            <p>French – Basic (spoken and written)</p>
          </li>
          <li>
            <p>German – Basic (spoken and written)</p>
          </li>

        </ul>

      </div>

    </div>

    <div class="row">
      <div class="col-md-7">
        <h2># AWARDS & RECOGNITION </h2>

        <div class="alert alert-success" role="alert"><i class="glyphicon glyphicon-ok"></i> Annual Innovation Award –
          Hackers Club Initiative - 2013
        </div>
        <div class="alert alert-info" role="alert"><i class="glyphicon glyphicon-ok"></i> Night on the Town – Crash
          reduction initiative - 2013
        </div>
        <div class="alert alert-success" role="alert"><i class="glyphicon glyphicon-ok"></i> First and Last line of
          Defense for Cerner – 2012
        </div>
        <div class="alert alert-info" role="alert"><i class="glyphicon glyphicon-ok"></i> Quality Champion – Attained
          zero rework for the year 2011 (target < %5)
        </div>
        <div class="alert alert-success" role="alert"><i class="glyphicon glyphicon-ok"></i> Significant Contributor –
          2007
        </div>
      </div>
      <div class="col-md-5">

      </div>
    </div>
  </div>
</section>
</div>

<footer>
  <div class="container">
    <p>Santhosh P Kumar</p>
  </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>
